:root {
  --primary-colour: #414040;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

.popup-image {
  max-width: 200px;
  height: auto;
}

.entry-form {
  display: flex;
  flex-direction: column;
}
.entry-form button {
  margin-top: 1rem;
}
.error {
  color: red;
}
.primary-button {
  position: relative;
  padding: 5px 8px;
  background-color: white;
  border: none;
  color: #414040;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 10px;
}
.auth-modal {
  position: absolute;
  top: 100px;
  left: 260px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 330px;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid var(--primary-colour);
}

/* Nav Component */
.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-colour);
  color: whitesmoke;
  padding-left: 20px;
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-colour);
  overflow-x: hidden;
}
.main-navigation a {
  color: white;
  text-decoration: none;
}
.main-navigation .nav-top-section {
  margin-top: 40px;
}
.main-navigation .nav-btn-container {
  margin-bottom: 40px;
  display: flex;
}
.main-navigation .nav-top-section ul {
  margin-top: 60px;
}
.main-navigation h1 {
  margin: 0;
  font-size: 2rem;
}
.main-navigation ul {
  padding: 0;
  padding-inline-start: 0;
}
.main-navigation li {
  margin-top: 40px;
}
.main-navigation li span {
  margin-left: 20px;
}

.react-icons path {
  stroke: white;
}
.nav-child {
  margin-left: 260px;
}
